#header
{
    min-height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* background-color: #000; */
    color: #fff;
    text-align: center;
    padding-top: 1rem;
    z-index: 99;
}

#content
{
    margin-top: 100px;
    margin-bottom: 50px;
}

#footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #000; */
    color: #fff;
    min-height: 40px;
    text-align: center;
    padding-top: 1rem;
}

#imagesList th, td
{
    width: 10px;
}

#imagesAdd
{
    padding: 1em;
    border: rgb(161, 161, 161) 1px solid;
    border-radius: 5%;
}

.separator, #header, #footer
{
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(63deg, rgba(12,61,110,1) 49%, rgba(0,0,0,1) 67%);
}

.btn-dark, .fa-input
{
    background: linear-gradient(63deg, rgba(12,61,110,1) 49%, rgba(0,0,0,1) 67%);
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a > span
{
    color: #fff;
}

.img-to-show-elem
{
    position: relative;
}

img.open-modal-view
{
    cursor: pointer;
}
/* 
.fas
{
    position: absolute;
} */